
sketch_230211a/windows-amd64/java/bin/awt.dll
sketch_230211a/windows-amd64/java/bin/fontmanager.dll
sketch_230211a/windows-amd64/java/bin/freetype.dll
sketch_230211a/windows-amd64/java/bin/java.dll
sketch_230211a/windows-amd64/java/bin/javaw.exe
sketch_230211a/windows-amd64/java/bin/jimage.dll
sketch_230211a/windows-amd64/java/bin/jli.dll
sketch_230211a/windows-amd64/java/bin/jsound.dll
sketch_230211a/windows-amd64/java/bin/jsvml.dll
sketch_230211a/windows-amd64/java/bin/msvcp140.dll
sketch_230211a/windows-amd64/java/bin/net.dll
sketch_230211a/windows-amd64/java/bin/nio.dll
sketch_230211a/windows-amd64/java/bin/server/jvm.dll
sketch_230211a/windows-amd64/java/bin/vcruntime140.dll
sketch_230211a/windows-amd64/java/bin/vcruntime140_1.dll
sketch_230211a/windows-amd64/java/bin/zip.dll
sketch_230211a/windows-amd64/java/lib/modules
sketch_230211a/windows-amd64/lib/core.jar
sketch_230211a/windows-amd64/lib/gluegen-rt.jar
sketch_230211a/windows-amd64/lib/javamp3-1.0.4.jar
sketch_230211a/windows-amd64/lib/jogl-all.jar
sketch_230211a/windows-amd64/lib/jsyn-20171016.jar
sketch_230211a/windows-amd64/lib/sketch_230211a.jar
sketch_230211a/windows-amd64/lib/sound.jar
