* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  opacity: 0.78;
}

header{
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10vw;
  margin: 10px;
  text-align: center;
  color: blue;
  background-color: antiquewhite;
}

/*.row{
  display: flex;
} */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#disclaimer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: small;
  bottom: 0;
  width: 100%;
  background-color: deepskyblue;
}


/*@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
} */